<article class="stories-icons">
  <h2>Icons</h2>
  <section>
    <table>
      <% for (var i = 0; i < iconNames.length; i++) { %>
      <tr>
        <div>
          <td>
            omrs-icon-<%- iconNames[i] %>
          </td>
          <td>
            <svg class="omrs-icon" role="img">
              <use xlink:href="#omrs-icon-<%- iconNames[i] %>"></use>
            </svg>
          </td>
        </div>
      </tr>
      <% } %>
    </table>
  </section>
  <section>
    <h3>Code example:</h3>
    <svg class="omrs-icon" <%- fill %>
      >
      <use xlink:href="<%- href %>"></use>
    </svg>
    <div class="stories-example lang-html">
      <svg class="omrs-icon" <%- fill %>
        >
        <use xlink:href="<%- href %>"></use>
      </svg>
    </div>
  </section>
</article>
