<article>
  <h2 class="title">Inputs</h2>
  <p class="title">
    There are 3 types of input fields defined in the styleguide:
  </p>
  <div class="container">
    <div>
      <h3 class="title">Underlined Inputs</h3>
      <form>
        <div class="omrs-input-group">
          <input class="omrs-input-underlined" type="text" required />
          <label>Name</label>
          <span class="omrs-input-helper">Helper Text</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path fill="none" d="M0 0h24v24H0V0z" />
            <circle cx="15.5" cy="9.5" r="1.5" />
            <circle cx="8.5" cy="9.5" r="1.5" />
            <path
              d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm-5-6c.78 2.34 2.72 4 5 4s4.22-1.66 5-4H7z"
            />
          </svg>
        </div>
        <div class="omrs-input-group">
          <input
            class="omrs-input-underlined omrs-input-danger"
            type="text"
            required
          />
          <label>Tel</label>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path fill="none" d="M0 0h24v24H0V0z" />
            <circle cx="15.5" cy="9.5" r="1.5" />
            <circle cx="8.5" cy="9.5" r="1.5" />
            <path
              d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm-5-6c.78 2.34 2.72 4 5 4s4.22-1.66 5-4H7z"
            />
          </svg>
          <span class="omrs-input-helper">Helper Text</span>
        </div>

        <div class="omrs-input-group">
          <input
            class="omrs-input-underlined omrs-input-danger"
            type="text"
            required
            disabled
          />
          <label>Email</label>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path fill="none" d="M0 0h24v24H0V0z" />
            <circle cx="15.5" cy="9.5" r="1.5" />
            <circle cx="8.5" cy="9.5" r="1.5" />
            <path
              d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm-5-6c.78 2.34 2.72 4 5 4s4.22-1.66 5-4H7z"
            />
          </svg>
          <span class="omrs-input-helper">Helper Text</span>
        </div>
      </form>
    </div>
    <div>
      <h3 class="title">Filled Inputs</h3>
      <form>
        <div class="omrs-input-group">
          <input class="omrs-input-filled" type="text" required />

          <label>Name</label>
          <span class="omrs-input-helper">Helper Text</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path fill="none" d="M0 0h24v24H0V0z" />
            <circle cx="15.5" cy="9.5" r="1.5" />
            <circle cx="8.5" cy="9.5" r="1.5" />
            <path
              d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm-5-6c.78 2.34 2.72 4 5 4s4.22-1.66 5-4H7z"
            />
          </svg>
        </div>
        <div class="omrs-input-group">
          <input
            class="omrs-input-filled omrs-input-danger"
            type="text"
            required
          />
          <label>Tel</label>
          <span class="omrs-input-helper">
            Helper Text
          </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path fill="none" d="M0 0h24v24H0V0z" />
            <circle cx="15.5" cy="9.5" r="1.5" />
            <circle cx="8.5" cy="9.5" r="1.5" />
            <path
              d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm-5-6c.78 2.34 2.72 4 5 4s4.22-1.66 5-4H7z"
            />
          </svg>
        </div>

        <div class="omrs-input-group">
          <input class="omrs-input-filled" type="text" required disabled />
          <label>Email</label>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path fill="none" d="M0 0h24v24H0V0z" />
            <circle cx="15.5" cy="9.5" r="1.5" />
            <circle cx="8.5" cy="9.5" r="1.5" />
            <path
              d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm-5-6c.78 2.34 2.72 4 5 4s4.22-1.66 5-4H7z"
            />
          </svg>
          <span class="omrs-input-helper">Helper Text</span>
        </div>
      </form>
    </div>
    <div>
      <h3 class="title">Outlined Inputs</h3>
      <form>
        <div class="omrs-input-group">
          <input class="omrs-input-outlined" type="text" required />
          <label>Names</label>
          <span class="omrs-input-helper">Helper Text</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path fill="none" d="M0 0h24v24H0V0z" />
            <circle cx="15.5" cy="9.5" r="1.5" />
            <circle cx="8.5" cy="9.5" r="1.5" />
            <path
              d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm-5-6c.78 2.34 2.72 4 5 4s4.22-1.66 5-4H7z"
            />
          </svg>
        </div>
        <div class="omrs-input-group">
          <input
            class="omrs-input-outlined omrs-input-danger"
            type="text"
            required
          />
          <label>Tel</label>
          <span class="omrs-input-helper">
            Helper Text
          </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path fill="none" d="M0 0h24v24H0V0z" />
            <circle cx="15.5" cy="9.5" r="1.5" />
            <circle cx="8.5" cy="9.5" r="1.5" />
            <path
              d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm-5-6c.78 2.34 2.72 4 5 4s4.22-1.66 5-4H7z"
            />
          </svg>
        </div>

        <div class="omrs-input-group">
          <input class="omrs-input-outlined" type="text" required disabled />
          <label>Email</label>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path fill="none" d="M0 0h24v24H0V0z" />
            <circle cx="15.5" cy="9.5" r="1.5" />
            <circle cx="8.5" cy="9.5" r="1.5" />
            <path
              d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm-5-6c.78 2.34 2.72 4 5 4s4.22-1.66 5-4H7z"
            />
          </svg>
          <span class="omrs-input-helper">Helper Text</span>
        </div>
      </form>
    </div>
  </div>
  <h3>Code example:</h3>
  <p class="type-demo omrs-bold"><%=inputType%> input</p>
  <div class="omrs-input-group">
    <input
      class="<%= determineStyle(inputType, isDanger) %>"
      type="text"
      required
    />
    <label>Names</label>
    <span class="omrs-input-helper">Helper Text</span>
  </div>
  <div class="stories-example lang-html">
    <div class="omrs-input-group">
      <input
        class="<%= determineStyle(inputType, isDanger) %>"
        type="text"
        required
      />
      <label>Names</label>
      <span class="omrs-input-helper">Helper Text</span>
    </div>
  </div>
</article>
<style>
  div.container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    width: 100%;
  }
  h3.title {
    text-align: center;
    margin-bottom: 45px;
    color: #1ea7fd;
  }
  .stories-example > input {
    margin: 35px;
  }
  p.type-demo {
    text-transform: capitalize;
  }

  .omrs-input-group {
    width: 20rem;
  }
</style>
