<article class="stories-typography">
  <h2>Typography and Font</h2>
  <section>
    OpenMRS uses the
    <a
      href="https://fonts.google.com/specimen/Roboto?selection.family=Roboto"
      rel="noopener"
      >Roboto font</a
    >. All text uses this font and no css classes are needed to apply the font
    to your html.
  </section>
  <section>
    <h3>Code example: Font</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <div class="stories-example lang-html">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
  </section>
  <section>
    <h3>Code examples: text decoration</h3>
    <div class="omrs-bold"><%- boldText %></div>
    <div class="stories-example lang-html">
      <div class="omrs-bold"><%- boldText %></div>
    </div>
    <div class="omrs-italic"><%- italicText %></div>
    <div class="stories-example lang-html">
      <div class="omrs-italic"><%- italicText %></div>
    </div>
    <div class="omrs-underline"><%- underlinedText %></div>
    <div class="stories-example lang-html">
      <div class="omrs-underline"><%- underlinedText %></div>
    </div>
  </section>
  <section>
    <h3>Code examples: Title Case</h3>
    <div class="omrs-title-1"><%- title1Text %></div>
    <div class="stories-example lang-html">
      <div class="omrs-title-1"><%-title1Text %></div>
    </div>
  </section>
</article>
<style>
  .stories-typography {
  }
</style>
