.omrs-checkbox label {
  position: relative;
}
.omrs-checkbox input[type="checkbox"] {
  opacity: 0;
}
.omrs-checkbox input[type="checkbox"] + span::before,
.omrs-checkbox input[type="checkbox"] + span::after {
  position: absolute;
}
.omrs-checkbox input[type="checkbox"] + span::before {
  content: "";
  display: inline-flex;
  height: 1rem;
  width: 1rem;
  border: 0.125rem solid var(--omrs-color-ink-medium-contrast);
  top: 0rem;
  left: 0rem;
}
.omrs-checkbox input[type="checkbox"]:checked + span::before {
  border: 0.125rem solid var(--omrs-color-interaction);
  background: var(--omrs-color-interaction);
}
.omrs-checkbox input[type="checkbox"] + span::after {
  content: none;
  display: inline-flex;
  height: 0.25rem;
  width: 0.75rem;
  transform: translate(-45%, -40%) rotate(-50deg);
  left: 0.5625rem;
  top: 0.5rem;
}
.omrs-checkbox input[type="checkbox"]:checked + span::after {
  content: "";
  border-left: 0.125rem solid var(--omrs-color-ink-white);
  border-bottom: 0.125rem solid var(--omrs-color-ink-white);
}
.omrs-checkbox input[type="checkbox"] + span {
  padding-left: 0.25rem;
  color: var(--omrs-color-ink-high-contrast);
}
.omrs-checkbox input[type="checkbox"]:checked + span {
  color: var(--omrs-color-interaction);
}
/* Radio Button styles */
.omrs-radio-button label {
  position: relative;
}
.omrs-radio-button input[type="radio"] {
  opacity: 0;
}
.omrs-radio-button input[type="radio"] + span::before,
.omrs-radio-button input[type="radio"] + span::after {
  position: absolute;
  border-radius: 50%;
}
.omrs-radio-button input[type="radio"] + span::before {
  content: "";
  display: inline-flex;
  height: 1rem;
  width: 1rem;
  border: 0.125rem solid var(--omrs-color-ink-medium-contrast);
  top: 0rem;
  left: 0rem;
}
.omrs-radio-button input[type="radio"]:checked + span::before {
  border: 0.125rem solid var(--omrs-color-interaction);
  background: var(--omrs-color-interaction);
}
.omrs-radio-button input[type="radio"] + span::after {
  content: none;
  display: inline-block;
  height: 0.625rem;
  width: 0.625rem;
  transform: translate(-50%, -50%);
  left: 0.625rem;
  top: 0.625rem;
}
.omrs-radio-button input[type="radio"]:checked + span::after {
  content: "";
  border: 0.15625rem solid var(--omrs-color-ink-white);
  background: var(--omrs-color-interaction);
}
.omrs-radio-button input[type="radio"] + span {
  padding-left: 0.25rem;
  color: var(--omrs-color-ink-high-contrast);
}
.omrs-radio-button input[type="radio"]:checked + span {
  color: var(--omrs-color-interaction);
}

.omrs-datepicker {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.omrs-datepicker input[type="date"] {
  width: 100%;
  outline: none;
  background: var(--omrs-color-ink-white);
  border: 0.0625rem solid var(--omrs-color-ink-low-contrast);
  color: var(--omrs-color-ink-medium-contrast);
  padding: 0.5rem;
}

.omrs-datepicker svg {
  position: absolute;
  right: 0;
  top: 0.5rem;
  margin-right: 0.5rem;
}

.omrs-datepicker input[type="date"]:valid {
  color: var(--omrs-color-interaction);
}

.omrs-datepicker input[type="date"]:valid + svg {
  fill: var(--omrs-color-interaction);
}
