<article class="stories-logo">
  <h2>Logos</h2>
  <section>
    <div>
      <svg role="img">
        <use xlink:href="#omrs-logo-full-color"></use>
      </svg>
      <svg role="img">
        <use xlink:href="#omrs-logo-full-mono"></use>
      </svg>
    </div>
    <div>
      <svg role="img">
        <use xlink:href="#omrs-logo-partial-color"></use>
      </svg>
      <svg role="img">
        <use xlink:href="#omrs-logo-partial-mono"></use>
      </svg>
    </div>
    <div>
      <svg role="img">
        <use xlink:href="#omrs-logo-icon-color"></use>
      </svg>
      <svg role="img">
        <use xlink:href="#omrs-logo-icon-mono"></use>
      </svg>
    </div>
  </section>
  <section>
    <h3>Code example:</h3>
    <svg role="img">
      <use xlink:href="<%- href %>"></use>
    </svg>
    <div class="stories-example lang-html">
      <svg role="img">
        <use xlink:href="<%- href %>"></use>
      </svg>
    </div>
  </section>
</article>
