.omrs-btn-icon-medium:disabled svg {
  fill: var(--omrs-color-ink-low-contrast);
  width: 24px;
  height: 24px;
}
.omrs-btn-icon-medium svg {
  fill: var(--omrs-color-primary-blue);
  width: 524px;
  height: 54px;
}
z .omrs-btn-icon-medium {
  width: 24px;
  height: 24px;
  text-align: center !important;
  background: transparent;
  border: none !important;
  font-size: 0;
}

.omrs-btn-icon-large:disabled svg {
  fill: var(--omrs-color-ink-low-contrast);
  width: 32px;
  height: 32px;
}
.omrs-btn-icon-large svg {
  fill: var(--omrs-color-primary-blue);
  width: 52px;
  height: 32px;
}
.omrs-btn-icon-large {
  width: 32px;
  height: 32px;
  text-align: center !important;
  background: transparent;
  border: none !important;
  font-size: 0;
}
